/* SimpleCookie, a minimalist yet efficient cookie manager for Firefox */
/* Made with ❤ by micka */

/* Default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    padding-top: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13.5px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Light and dark theme settings */
:root {
    --background-color: #FFF;
    --text-color: #000;
    --highlight-color: #DFDFE4;
    --icon-color-light: #000;
    --icon-color-dark: #FFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #42414C;
        --text-color: #FCFCFF;
        --highlight-color: #5F5E68;
    }
}

/* Cookie container style */
#cookies-container {
    margin: 0;
    max-height: 500px;
    max-width: 100%;
    overflow-y: auto;
    margin-bottom: 0px;
}

/* Cookie list style */
#cookies-container div {
    text-align: left;
    margin: 0;
    padding: 2.2px 5px;
    color: var(--text-color);
    white-space: nowrap;
}

#cookies-container div:hover {
    background-color: var(--highlight-color);
    cursor: pointer;
}

/* Icon colors based on theme */
@media (prefers-color-scheme: light) {
    #icon1, #icon2, #icon3, #icon4 {
        color: var(--icon-color-light);
    }
}

@media (prefers-color-scheme: dark) {
    #icon1, #icon2, #icon3, #icon4 {
        color: var(--icon-color-dark);
    }
}

/* Appearance icon style */
.ghost-icon,
.container-icon,
.partition-icon {
    font-size: 12px;
    opacity: 0.8;
}

.active-tab-icon {
    font-size: 10px;
    opacity: 0.8;
    color: #FE0179;
}

/* Dock style */
#dock {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4px 0;
    width: 100%; 
}

#dock i {
    margin: 0 6px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

/* Default opacity for icons 1, 2, 3 and 4 */
#icon1, #icon2, #icon3, #icon4 {
    opacity: 0.2;
}

/* Hover effects for icons 1, 2 and 3 */
#icon1:hover,
#icon2:hover,
#icon3:hover {
    opacity: 1;
    color: #FE0179;
}

/* Icon 4 special hover effect */
#icon4:hover {
    opacity: 1;
    color: black;
}

/* Dark mode hover color for icon 4 */
@media (prefers-color-scheme: dark) {
    #icon4:hover {
        color: white;
    }
}

/* Icon 5 special style */
#icon5 {
    display: inline-flex;
    color: #FE0179;
    opacity: 1;
}

/* Cookie table style */
.cookie-table {
    border-collapse: collapse;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    table-layout: fixed;
    width: 100%;
}

.header-cell {
    padding: 4px;
    border: none;
    text-align: center;
    background-color: var(--header-background-color, #f2f2f2);
    color: var(--header-color, black);
    white-space: pre-wrap;
    word-wrap: break-word;
}

.cell {
    padding: 4px;
    border: none;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Dark mode support for the table */
@media (prefers-color-scheme: dark) {
    .cookie-table {
        color: white;
    }
    .header-cell {
        background-color: #333;
        color: white;
    }
}

/* Confirmation dialogue box style */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: none;
    margin: auto;
    padding: 20px;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Yes and No confirmation button style */
.icon-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 26px;
    margin: 2px;
}

#confirm-yes:hover i {
    color: #04A65D;
}

#confirm-no:hover i {
    color: #FE0179;
}