/* SimpleCookie, a minimalist yet efficient cookie manager for Firefox */
/* Made with ❤ by micka */

/* Default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default font and background color */
body {
    padding-top: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13.5px;
    background-color: var(--background-color);
}

/* Cookies container style */
#cookies-container {
    overflow: hidden; 
    margin-top: 0px;
    margin-bottom: 0;
    max-height: 500px;
    max-width: auto;
    overflow-y: auto;
}

/* Cookies list and hover effect */
#cookies-container div {
    text-align: left;
    margin-bottom: 0;
    border-radius: 0;
    padding: 2px 5px;
    color: var(--text-color);
}

#cookies-container div:hover {
    background-color: var(--highlight-color);
    cursor: pointer;
}

/* Light and dark theme settings */
:root {
    --background-color: #FFFFFF;
    --text-color: #000000;
    --highlight-color: #DFDFE4;
    --icon-color-light: #000000;
    --icon-color-dark: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #42414C;
        --text-color: #FCFCFF;
        --highlight-color: #5F5E68;
    }

    #icons-container i {
        color: var(--icon-color-dark);
    }
}

@media (prefers-color-scheme: light) {
    #icons-container i {
        color: var(--icon-color-light);
    }
}

/* Horizontal separator */
#separator {
    width: 100%;
    border-top: 1.5px solid #ccc;
    margin-top: 0px;
    opacity: 0.3;
}

/* Bottom icons style */
#icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

#icons-container i {
    margin: 0 10px;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity 0.1s, transform 0.3s;
}

#icons-container i:hover {
    opacity: 1;
    transform: scale(1.3);
}

/* Special color for the icon3 */
#icon3:hover::before {
    color:#FE0179;
}